.heading {
  font-size: 1.2em;
  color: #4c4d4e;
  margin: 2em 0 1em 0;
  text-transform: uppercase;
  font-weight: 600;
}

.paragraph{
      font-size: 0.9em;
      color: #777;
      line-height: 1.9em;
      letter-spacing: 1px;
      margin-bottom: 0;
}