@mixin makeCenter($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}

.nav {
  height: 50px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: #000;
  //@include makeCenter(space-between);
}

.container{
  display: flex;
  justify-content: space-between;
}


.form {
  background: #fff;
  padding: 0.3em;
  display: flex;
}

.searchInput {
  outline: none;
  padding: 6px 20px;
  font-size: 14px;
  color: #000;
  width: 85%;
  background: transparent;
  text-transform: capitalize;
  border: none;
  letter-spacing: 2px;
  float: left;
}

.searchBtn {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  transition: 0.5s all;
  float: right;
  cursor: pointer;
  width: 15%;
  font-size: 14px;
  text-align: center;
  background: #ec1c24;
}
